<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.mrndtvndv.term.gpu.GpuRenderingTestActivity"
            android:exported="true"
            android:label="Ecto GPU rendering laboratory"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation" />
    </application>

</manifest>
